<html>
<head>
    <title>Minions!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<h1>The PolarOps<sup>&reg;</sup> Minions<sup>&trade;</sup> tagger<h1>
<h2>Welcome, {{session['name']}}...
Time to rate thread #{{num_threads}}! (<tt>{{cid}}</tt>)</h2>
<div id="thread">
    {{ thread_to_rate }}
</div>
<form action="{{ url_for('collect') }}" method=POST >
<label class="question" for="rating">Which is your verdict, minion?</label>
<div class="choice">
<input type="radio" name="rating" id="polarized" value="polarized" />
<label for="polarized">Polarized</label>
</div>
<div class="choice">
<input type="radio" name="rating" id="notpolarized" value="notpolarized" />
<label for="polarized">Not polarized</label>
</div>
<div class="choice">
<input type="radio" name="rating" id="other" value="other" />
<label for="polarized">Neither/both/unsure</label>
</div>
<input type="hidden" name="cid" value={{cid}} />
<input type="submit" name="submit" value="Tag this thread"/>
</form>
</body>
</html>
